body {
    background-image: url(../images/p2.2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    align-items: center;
    text-align: center;
}
img {

    position: absolute;
    top: 50px;
    left: 200px;
  
   
}
div {
    
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100px;
}